# OS
.DS_Store
Thumbs.db


# IDE
.vscode/
.idea/


# ENV
.env
.env.local
.env.*.local


# BACKEND - PHP / Composer
vendor/
storage/
*.log


# FRONTEND - Node / SCSS
node_modules/
frontend/node_modules/
frontend/assets/vendor/

# fichiers générés
frontend/assets/css/app.css.map
frontend/assets/css/app.css

# DOCKER
docker/mysql/data/
docker/**/data/


# TEST / TEMP
*.tmp
*.cache
coverage/